#here_table {
	margin: 1px; padding: 0px;
	width: 1px; height: 1px;
	background-color: white;
}
div {
	margin: 1px; padding: 0px;
	width: 60px; height: 40px;
	background-color: orange;
}

table > .blue {
	background-color: blue;
}
